{{define "login"}}
  <!DOCTYPE html>
<html>
<head>
    <title>My Go Website - Home</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
  <form name="login_form" action="/login" method="POST">
    <div class="login_form_top">
      <h1>ログイン画面</h1>
      <p>ユーーザID、パスワードをご入力の上、「ログイン」ボタンをクリックしてください。</p>
    </div>
    <div class="login_form_btm">
      <input type="id" name="username" placeholder="ユーザーIDを入力してください"><br>
      <input type="password" name="password"placeholder="パスワードを入力してください">
    </div>
    <button type="submit">ログイン</button>
  </form>
</body>
</html>
{{end}}